<section class="page" id="page4">
  
	<div class="cover-page">
	  
	  <div class="header cover-header">
  		<%= wicked_pdf_image_tag "fpo-logo.jpg" %>
  		<div class="con">
  		  <span class="client"></span>
  			<h2 class="sell-sheet-title">The Title</h2>
  		</div>
  	</div>
  	<div class="contact">
  		<div class="info">
          <strong>Contact:</strong>
    			<span>Test User</span>
    			
    			<p>Email: <a href="#">test2@test.com</a></p>
    			<a href="#">www.google.com</a>
    			<span class="user-info" data-name="Test User" data-phone="" data-email="test2@test.com"></span>
  		</div>
  		<div class="text">
  		  <div>
        <h3>Nullam In Dui Mauris. Vivamus Hendrerit Arcu Sed Erat</h3>
        <p>Porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti.</p>
        </div>
      </div>
  	</div>
  	
	</div><!-- / cover-page -->
	
<div class="printed-products">
	  
	<div class="header">
    <%= wicked_pdf_image_tag "fpo-logo.jpg" %>
    <div class="con">
      <h2>The Title</h2>
      Test User | <span>Email:</span> test2@test.com
    </div>
  </div>

    <div class="wine-big">
  		<div class="left">
  		  <%= wicked_pdf_image_tag "fpo-bottle.png", :class => 'detail' %>
  			
  		</div>
  		<div class="right">
  			<h4>Brand Name</h4>
  			<h3>Example Wine Name 2009</h3>
  			<div class="desc">
  				<strong>REGION:</strong> Italy / Sardinia <br>
  				<br>
  				
  				<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus.</p><br>
  				
  				
  				
  				  <strong>tasting note</strong><br>
  				  Deep ruby in color, the wine offers intense aromas and flavors of black fruit. It is full-bodied with a velvety texture and balanced tannins.<br><br>
  				
    				<strong>food pairing</strong><br>
    				Pair with lamb or rich pork dishes.<br><br>
  				
  				
  			</div>
  			
				  <div class="points-big">
				    <strong>points of Distinction</strong>
  					<ul>
  						  <li>A modern blend made primarily from the Carignano grape</li>
  						  <li>Matured 15 months in French oak barrels (10% new)</li>
  					</ul>
					</div>
				
				
    			<blockquote>"Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus." </blockquote>
    			<span class="author">– Author</span>
  		</div>
  	</div>
	



  <div class="header">
    <%= wicked_pdf_image_tag "fpo-logo.jpg" %>
    <div class="con">
      <h2>The Title</h2>
      Test User | <span>Email:</span> test2@test.com
    </div>
  </div>

    <div class="wine-big">
  		<div class="left">
  		  <%= wicked_pdf_image_tag "fpo-bottle.png", :class => 'detail' %>
  			
  		</div>
  		<div class="right">
  			<h4>Another Brand</h4>
  			<h3>Pinot Gris 2007</h3>
  			<div class="desc">
  				<strong>REGION:</strong> Argentina / Mendoza <br>
  				<br>
  				
  				<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus.</p><br>
  				
  				
  				
  				  <strong>tasting note</strong><br>
  				  Shows complex black fruit aromas, with spice and chocolate notes. The flavors are concentrated, yet elegant and expressive, with silky tannins and a long, intense finish.<br><br>
  				
  				
  			</div>
  			
				  <div class="points-big">
				    <strong>points of Distinction</strong>
  					<ul>
  						  <li>Produced from highest quality grapes and only in the best years.</li>
  						  <li>Extremely small yields of only 0.5 bottles per vine.</li>
  						  <li>Limited production.</li>
  					</ul>
					</div>
    			
  		</div>
  	</div>
	



  <div class="header">
    <%= wicked_pdf_image_tag "fpo-logo.jpg" %>
    <div class="con">
      <h2>The Title</h2>
      Test User | <span>Email:</span> test2@test.com
    </div>
  </div>

</div>
	

</section>