<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>FINE PDF Generator</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  
  <%= stylesheet_link_tag "main", :media => "all" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  
  <!--[if lt IE 9]>
    <%= javascript_include_tag "html5shiv", "html5shiv-printshiv" %>
  <![endif]-->
  
  <%= csrf_meta_tags %>
</head>
<body>
  
  <section id="container">
    <header>
      <h1>FINE PDF Generator Prototype</h1>
      <nav id="main-nav">
        <ul>
          <li><%= link_to " head home", root_path %></li>
        </ul>
      </nav>
    </header>

    <section id="content">
      <%= yield %>
    </section><!-- / content -->
  
  </section><!-- / container -->

</body>
</html>
